/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/* --------------- */

/* Пример селектора тега */
h1 {
	/* Обратились ко ВСЕМ тегам h1 на странице */
	font-size: 32px;
	margin:11px 0 11px 0;
}

h2 {
	/* Обратились ко ВСЕМ тегам h2 на странице */
	font-size: 24px;
	margin:13px 0 13px 0;
}

h3 {
	/* Обратились ко ВСЕМ тегам h3 на странице */
	font-size: 19px;
	margin:16px 0 16px 0;
}

h4 {
	/* Обратились ко ВСЕМ тегам h4 на странице */
	font-size: 16px;
	margin:21px 0 21px 0;
}

h5 {
	/* Обратились ко ВСЕМ тегам h4 на странице */
	font-size: 13px;
	margin:28px 0 28px 0;
}

h6 {
	/* Обратились ко ВСЕМ тегам h4 на странице */
	font-size: 11px;
	margin:37px 0 37px 0;
}

span {
	/* Обратились ко ВСЕМ тегам span на странице */
	background: rgb(242, 242, 242);
	padding: 1px 5px;
	border-radius: 3px;
	font-weight: 550;
}

h1, h2, h3, h4, h5, h6 {
	/* Обратились ко ВСЕМ тегам h1, h2, h3, h4, h5, h6 на странице */
	color: rgb(48, 48, 48);
}

/* Селектор класса, начинается с ТОЧКИ */

.headertitle {
	/* Обратились ко объектам с классом headertitle на странице */
	color: black; 
}

/* Приоритет */

/* 1. Порядок записи, при равнозначных селекторах */

h2 {
	/* Обратились ко ВСЕМ тегам h2 на странице */
	 color: #39BA64; 
}

/* Этот приоритетней */
h2 {
	/* Обратились ко ВСЕМ тегам h2 на странице */
	color: #FFA632; 
}

/* УТОЧНЕНИЕ */

/* 2. Селектор класса приоритетней чем селектор тега */

.maintextcaption {
	/* Обратились ко объектам с классом maintextcaption на странице */
	color: #FF0068;
}
h2 {
	/* Обратились ко ВСЕМ тегам h2 на странице */
	color: black; 
}

/* Селектор ID - самый приоритетный */

/* Селектор ID */

#menu {
	/* Обратились объекту c ID menu на странице */
	color: #00B3BD; 
}

.headercaptionmenu {
	/* Обратились ко объектам с классом headercaptionmenu на странице */
	color: green;
}
h3 {
	/* Обратились ко ВСЕМ тегам h2 на странице */
	color: red; 
}

/* 3. Уточняем обращением  */

/* Комбинация селекторов */

kbd.headerkbd {
	/* Обратились ко тегам kbd с классоми headerkbd на странице */
	color: red;
}
.headerkbd {
	/* Обратились ко объектам с классом headerkbd на странице */
	color: green;
}

span.headerexcerpt {
	/* Обратились ко тегам SPAN с классом headerexcerpt на странице */
	background: lightgray;
}

kbd {
	color:#00B3BD;
}

/* Вложенность и приоритетность */

/* Приоритеность №1 */

div p {
	color: gray; 
}

.header .headertext {
	/* Обратились ко объектам с классом headertext но только к тем
	которые находятся внутри любых объектов с классом .header на странице 
	*/
	color: yellowgreen;
}

.headertext {
	/* Обратились ко объектам с классом headertext */
	color: violet; 
}

/* Инлайновый стиль будет имет самый большой приоритет */

/* Прочие селекторы */

* {
	/* * - Обращение ко ВСЕМ объектам */
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
}

/* Обращаемся к нескольким объектам */

.headercaptionmenupunkt a,
.maintextpunkt h4 {
	/* Обратились ко всем тегам a но только к тем
	которые находятся внутри любых объектов с классом .headercaptionmenupunkt на странице.
	И ко всем тегам h4 но только к тем 
	которые находятся внутри любых объектов с классом .maintextpunkt на странице.*/
	color: #FFA632; 
}

.header .headertext,
.maintextpunkt .maintextcaption, footer {
	/* Обратились ко всем объектам с классом headertext но только к тем
	которые находятся внутри любых объектов с классом header на странице.
	И ко всем объектам с классом maintextcaption но только к тем 
	которые находятся внутри любых объектов с классом maintextpunkt на странице.*/
	background: lightgray;
}

/* Только первый уровень вложенности */

footer kbd {
	/* Обратились ко всем тегам SPAN но только к тем
	которые находятся внутри любых объектов с классом .content на странице. */
	color: red;
}
kbd > span {
	/* Обратились ко всем тегам SPAN ПЕРВОГО УРОВНЯ но только к тем
	которые находятся внутри любых объектов с классом .content на странице. */
	color: violet;
}

/* Обращаемся только к первому следующему объекту того же уровня */
.headertitle + * {
	border:6px solid #00C097;
}

/* Обращаемся ко всем следующим объектам того же уровня */

.headerexcerpt ~ span{
	border: 4px solid red;
}

#fancy div {
	color: green;
}

div.pickle {
	color: red;
}